:root {
  --main-color: #2d767f;
  --light-color: #ecfffb;
  --accent-color: #b4f1f1;
  --dark-color: #1e6262;
  --heading-font-family: "Montserrat Alternates", sans-serif;
  --sub-text-font-family: "Josefin Sans", sans-serif;
}

footer {
  background: var(--light-color);
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  font-size: 80px;
  color: var(--main-color);
  -webkit-text-stroke: 3px var(--accent-color);
}

h2 {
  font-family: var(--sub-text-font-family);
  font-size: 35px;
  color: var(--main-color);
  opacity: 0.8;
  line-height: 1.3;
}

i {
  color: var(--dark-color);
}

.btn-info {
  font-size: 20px;
  margin: 15px;
  padding: 15px 30px;
  opacity: 0.8;
  font-family: var(--sub-text-font-family);
}

.contact-icons {
  font-size: 30px;
  text-align: center;
}

.featured-project-link:hover {
  text-decoration: none;
}

.header-content {
  text-align: center;
}

.header-image {
  margin: 0 auto;
  display: block;
  border-radius: 4px;
}

.hero {
  background: var(--light-color);
  padding: 150px 60px;
  line-height: 1.5;
}

.lets-work-together {
  background: var(--accent-color);
  padding: 20px 40px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 50px;
    -webkit-text-stroke: 2px var(--accent-color);
  }
  h2 {
    font-size: 20px;
    line-height: 1;
  }
  .btn-info {
    font-size: 15px;
    margin: 10px;
    padding: 10px 20px;
  }
  .header-image {
    display: none;
  }
  .hero {
    padding: 70px 30px;
    line-height: 1;
  }
}
