:root {
  --primary-color: #4d727e;
  --dark-color: #1f4e5f;
  --light-color: #f4f7f7;
  --accent-color: #79a8a9;
  --heading-font-family: "Raleway", sans-serif;
  --secondary-font-family: "Open Sans", sans-serif;
  --sub-text-font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: var(--light-color);
}

footer p {
  color: var(--dark-color);
}

i {
  background-color: var(--light-color);
  border: 2px solid var(--dark-color);
  color: var(--dark-color);
  font-size: 18px;
  padding: 10px 14px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
  margin: 30px 10px;
}

i:hover {
  color: var(--light-color);
  background-color: var(--dark-color);
  opacity: 0.7;
}

li {
  list-style: none;
}

.about-links,
.project-links {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.about-hero {
  padding: 180px 60px 130px 60px;
  line-height: 1.5;
}

.about-title,
.resume-page-title {
  color: var(--dark-color);
  font-family: var(--heading-font-family);
  font-weight: 600;
  font-size: 80px;
}

.btn-info {
  font-size: 16px;
  margin: 15px;
  padding: 15px 30px;
  opacity: 0.7;
  font-family: var(--secondary-font-family);
  background-color: var(--primary-color) !important;
  border-radius: 10px !important;
}

.contact-icons {
  font-size: 30px;
  text-align: center;
}

.contact-icon-titles:hover {
  text-decoration: none;
  color: var(--primary-color);
}

.contact-page-icons {
  text-align: center;
}

.contact-section {
  padding: 140px 60px 0px 60px;
}

.email-address-link {
  color: var(--dark-color);
  transition: all 100ms ease-in-out;
}

.email-address-link:hover {
  text-decoration: none;
  color: var(--primary-color);
}

.featured-project-link:hover {
  text-decoration: none;
}

.featured-projects img {
  margin: 0 auto;
  display: block;
}

.header-content,
.about-content {
  text-align: center;
}

.header-content h2 {
  color: var(--light-color);
}

.header-image,
.about-me-image,
.about-images {
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}

.hero {
  background: rgb(121, 168, 169, 0.9);
  padding: 180px 60px 130px 60px;
  line-height: 1.5;
}

.my-work-section {
  padding: 140px 60px 0px 60px;
}

.my-work-section,
.contact-section {
  background: rgb(121, 168, 169, 0.9);
  line-height: 1.5;
}

.homepage-title,
.my-story-title,
.my-work-title,
.contact-title {
  -webkit-text-stroke: 1px var(--light-color);
}

.homepage-title,
.project-section-title,
.my-story-title,
.my-work-title,
.contact-title {
  font-family: var(--heading-font-family);
  font-weight: 600;
  font-size: 80px;
  color: var(--dark-color);
}

.homepage-subtitle,
.about-subtitle,
.project-title,
.work-tagline,
.resume-category,
.contact-tagline,
.contact-icon-titles {
  font-family: var(--secondary-font-family);
  font-size: 30px;
  color: var(--dark-color);
  line-height: 1.3;
}

.lets-work-together {
  background: var(--accent-color);
  padding: 20px 40px;
  opacity: 0.9;
  border-radius: 10px;
}

.my-story-content {
  font-family: var(--secondary-font-family);
  font-size: 20px;
  color: var(--light-color);
  line-height: 1.3;
  margin: 30px 150px;
}

.my-story-section {
  background: rgb(121, 168, 169, 0.9);
  padding: 70px 60px 130px 60px;
  line-height: 1.5;
}

.navbar {
  background: #f4f7f7 !important;
}

.navbar-brand a {
  color: var(--dark-color) !important;
}

.nav-item a {
  color: var(--dark-color) !important;
  font-family: var(--secondary-font-family) !important;
  margin: 0px 25px;
}

.resume-category {
  border-bottom: 1px solid var(--dark-color);
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.resume-closing {
  color: var(--dark-color);
}

.resume-content {
  text-align: left;
  font-family: var(--heading-font-family);
  line-height: 1.25em;
}

.resume-date {
  text-align: right;
  font-family: var(--secondary-font-family);
}

.resume-location a {
  opacity: 70%;
  transition: all 100ms ease-in-out;
  color: var(--dark-color);
}

.resume-location a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

.resume-section {
  padding: 130px 60px 60px 60px;
}

.resume-subtext {
  font-family: var(--sub-text-font-family);
  font-weight: 200;
  font-size: 14px;
  color: var(--primary-color);
  opacity: 0.7;
}

.resume-title {
  font-family: var(--heading-font-family);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.skills-section {
  padding: 0px 80px;
  margin: 0 200px;
}

.skills-section h2 {
  color: var(--dark-color);
  font-family: var(--heading-font-family);
  font-weight: 600;
  font-size: 70px;
}

.skills-title {
  font-family: var(--sub-text-font-family);
  font-weight: 300;
  font-size: 18px;
  color: var(--primary-color);
}

.work-icons {
  color: var(--light-color);
  background-color: var(--dark-color);
  opacity: 0.7;
  font-size: 16px;
  padding: 10px 14px;
  border-radius: 50%;
}

@media (max-width: 576px) {
  .homepage-title,
  .about-title,
  .project-section-title,
  .my-story-title {
    font-size: 50px;
  }
  .homepage-subtitle,
  .about-subtitle,
  .my-story-content,
  .project-title {
    font-size: 20px;
    line-height: 1;
  }
  .my-story-content {
    margin: 10px;
  }
  i {
    background-color: var(--dark-color);
    opacity: 0.7;
    color: var(--light-color);
  }
  .btn-info {
    font-size: 15px;
    margin: 10px;
    padding: 10px 20px;
  }
  .header-image,
  .about-me-image {
    width: 200px;
  }
  .hero,
  .about-hero {
    padding: 120px 30px 50px 30px;
    line-height: 1;
  }
  .featured-projects h2 {
    font-weight: bold;
  }
}
